<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="FileStorage" connectionString="Data Source=10.99.16.89;Initial Catalog=FileStorage;Integrated Security=False;User ID=qgk48/MHUHc7Sou/PjXC/w==;Password=+8xw5giVJyO1kCbTmHEwTw==" providerName="System.Data.SqlClient"/>
    <add name="WF" connectionString="Data Source=10.99.16.89;Initial Catalog=WFTEST;Integrated Security=False;User ID=qgk48/MHUHc7Sou/PjXC/w==;Password=+8xw5giVJyO1kCbTmHEwTw==" providerName="System.Data.SqlClient"/>
    <add name="PMS" connectionString="Data Source=10.99.16.89;Initial Catalog=PMSTEST;Integrated Security=False;User ID=qgk48/MHUHc7Sou/PjXC/w==;Password=+8xw5giVJyO1kCbTmHEwTw==" providerName="System.Data.SqlClient"/>
    <add name="PMSHO" connectionString="Data Source=10.99.16.89;Initial Catalog=PMSTEST;Integrated Security=False;User ID=qgk48/MHUHc7Sou/PjXC/w==;Password=+8xw5giVJyO1kCbTmHEwTw==" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>