
@{
    ViewData["Title"] = "Ubah Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">@ViewBag.Title</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body" id="divContentContainer">
        <x-form id="@ViewBag.MainFormID">
            <x-form-row>
                <x-field-password id="OLDPASSWORD" binding-field="OLDPASSWORD" caption="Password Saat Ini" read-only="false" xs-size="12" md-size="3">
                </x-field-password>
            </x-form-row>
            <x-form-row>
                <x-field-password id="NEWPASSWORD" binding-field="NEWPASSWORD" caption="Password Baru" read-only="false" xs-size="12" md-size="3">
                </x-field-password>
            </x-form-row>
            <x-form-row>
                <x-field-password id="NEWPASSWORD2" binding-field="NEWPASSWORD2" caption="Password Baru (Konfirmasi)" read-only="false" xs-size="12" md-size="3">
                </x-field-password>
            </x-form-row>

            <x-form>
                &nbsp;
            </x-form>
            <x-form-row>
                <x-form-col xs-size="12">
                    <button id="BTNCHANGE" class="btn btn-primary" onclick="changePassword()">Ubah Password</button>
                </x-form-col>
            </x-form-row>
            &nbsp;
            &nbsp;
            <x-form-row>
                <div class="col-xs-12" style="display:none" id="calloutErrorMessage">
                </div>
            </x-form-row>
        </x-form>
    </div>    
</div>

<script>
    var changePassword = function () {
        if ($('#BTNCHANGE').attr("disabled") || $('#BTNCHANGE').html() != "Ubah Password") {
            alert("Harap tunggu...");
            return false;
        }

        hideError('calloutErrorMessage');

        if (!$('#NEWPASSWORD').val() || !$('#NEWPASSWORD2').val()) {
            showError('Password baru tidak boleh kosong', 'Error', 'calloutErrorMessage');
            return;
        }

        if ($('#NEWPASSWORD').val() === $('#OLDPASSWORD').val()) {
            showError('Password baru tidak boleh sama dengan password sebelumnya', 'Error', 'calloutErrorMessage');
            return;
        }

        if ($('#NEWPASSWORD').val() !== $('#NEWPASSWORD2').val()) {
            showError('Konfirmasi password tidak sesuai', 'Error', 'calloutErrorMessage');
            return;
        }

        $('#BTNCHANGE').attr("disabled", "disabled");
        $('#BTNCHANGE').html("Harap tunggu...");


        var oldPasword = $('#OLDPASSWORD').val();
        var newPassword = $('#NEWPASSWORD').val();
        var returnURL = "@ViewBag.ReturnURL";

        $('#divContentContainer').waitMe({
            effect: 'ios',
            text: 'Harap tunggu...',
            bg: 'rgba(255,255,255,0.7)',
            color: '#000'
        });
        authServices.changePassword(oldPasword, newPassword, returnURL, function (errMessage) {          
            $('#divContentContainer').waitMe('hide');
            $('#BTNCHANGE').html("Ubah Password");
            $('#BTNCHANGE').removeAttr("disabled");
            showError(errMessage, "Error", "calloutErrorMessage");
        });
    };
</script>
