@{
    Layout = "~/Views/Shared/_LayoutNoLogin.cshtml";
}
<x-form id="divContentContainer">
    <x-form-row>
        <x-field-password caption="Password Baru" xs-size="12" id="NEWPASSWORD">>
        </x-field-password>
    </x-form-row>
    <x-form-row>
        <x-field-password caption="Password Baru (Konfirmasi)"  id="NEWPASSWORD2" xs-size="12">            
        </x-field-password>
    </x-form-row>
    <x-form-row is-hidden="true" id="divErrorText">
        <x-form-col xs-size="12">
            <div class='callout callout-danger' id="errorText">
            </div>
        </x-form-col>
    </x-form-row>
    <x-form-row>
        <x-form-col xs-size="12">
            <button class="btn btn-primary pull-left" onclick="doResetPassword(this)" id="btnReset">Reset Password</button>
        </x-form-col>
    </x-form-row>
</x-form>

<script>
    var showError = function (errMessage) {
        $("#errorText").html(errMessage);
        $('#divErrorText').show();
    };

    var hideError = function () {
        $("#errorText").html('');
        $('#divErrorText').hide();
    };

    var setButton = function (disabled) {
        if (disabled) {
            $('#btnReset').attr("disabled", "disabled");
            $('#btnReset').html("Please wait...");
        }
        else {
            $('#btnReset').removeAttr("disabled");
            $('#btnReset').html("Reset Password");
        }
    }

    var doResetPassword = function (e) {
        hideError();
        if ($('#btnReset').attr("disabled") || $('#btnReset').html() != "Reset Password") {
            alert("Please wait...");
            return false;
        }

        var token = '@(ViewBag.ResetPasswordToken)';
        if (!token) {
            showError('Token tidak valid');
            return false;
        }


        if (!$('#NEWPASSWORD').val() || !$('#NEWPASSWORD2').val()) {
            showError('Password tidak boleh kosong');
            return false;
        }

        if ($('#NEWPASSWORD').val() != $('#NEWPASSWORD2').val()) {
            showError('Password dan konfirmasinya tidak sama');
            return false;
        }

        if ($('#NEWPASSWORD').val().length <= 2) {
            showError('Password baru harus lebih dari 2 karakter');
            return false;
        }

        setButton(true);
        $('#divContentContainer').waitMe({
            effect: 'ios',
            text: 'Harap tunggu...',
            bg: 'rgba(255,255,255,0.7)',
            color: '#000'
        });
        authServices.doResetPassword(token, $('#NEWPASSWORD').val(), function (errMessage) {
            $('#divContentContainer').waitMe('hide');
            showError(errMessage)
            setButton(false);
        });
    };
</script>






