
@{
    ViewData["Title"] = "Reset Password Request";
    Layout = "~/Views/Shared/_LayoutNoLogin.cshtml";
}


    <x-form id="divContentContainer">
        <x-form-row>
            <x-field-input id="USERNAME" caption="Username atau Alamat Email" xs-size="12"></x-field-input>
        </x-form-row>
        <div class="row" style="display:none" id="divErrorText">
            <div class="col-xs-12">
                <div class='callout callout-danger' id="errorText">
                </div>
            </div>
        </div>
        <x-form-row>
            <x-form-col xs-size="6" md-size="2">
                <button id="btnResetPassword" class="btn btn-primary" onclick="resetPassword()">Reset Password</button>
            </x-form-col>
        </x-form-row>
    </x-form>


<script>
    var resetPassword = function () {
        if ($('#btnResetPassword').attr("disabled") || $('#btnResetPassword').html() != "Reset Password") {
            alert("Please wait...");
            return;
        }
        if (!$('#USERNAME').val()) {
            $("#errorText").html("Username atau alamat email belum diisi");
            $('#divErrorText').show();
            return;
        }

        $('#btnResetPassword').attr("disabled", "disabled");
        $('#btnResetPassword').html("Please wait...");
        $('#divErrorText').hide();
        $('#divContentContainer').waitMe({
            effect: 'ios',
            text: 'Harap tunggu...',
            bg: 'rgba(255,255,255,0.7)',
            color: '#000'
        });
        authServices.doResetPasswordRequest($('#USERNAME').val(), function (errMessage) {
            $('#divContentContainer').waitMe('hide');
            $("#errorText").html(errMessage);
            $('#btnResetPassword').html("Reset Password");
            $('#btnResetPassword').removeAttr("disabled");
            $('#divErrorText').show();
        });
    };
    
    
    
</script>